<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>michaelkelly.org{{ if ne .Title "home" }}: {{.Title}}{{ end }}</title>
  <link rel="shortcut icon" href="/michaelkelly-org-rounded.png" />
  <link rel="canonical" href="https://www.michaelkelly.org" />
  {{ $style := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0a0a0a">
  <meta name="color-scheme" content="dark">
  <meta name="Description" content="Personal page of Michael Kelly, a software engineer in New York, NY, USA.">
</head>
<body>
  <h1 class="title">michaelkelly.org{{ if ne .Title "home" }}/<wbr>{{.Title}}{{ end }}</h1>
  {{ partial "nav.html" . }}
  <main class="container">
    {{ .Content }}
  </main>
</body>
</html>
