<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>michaelkelly.org{{ if ne .Title "home" }}: {{.Title}}{{ end }}</title>
  <link rel="shortcut icon" href="/assets/mk-favico.png" />
  <link rel="canonical" href="{{ .Permalink }}" />
  {{ $style := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="dark">
  <meta name="theme-color" content="#0d1117">
  <meta name="Description" content="Personal page of Michael Kelly, a software engineer in Los Angeles.">
</head>
<body>
  <a class="skip-nav" href="#main-content">Skip to main content</a>
  <header>
    <h1 class="title">michaelkelly.org{{ if ne .Title "home" }}/<wbr>{{.Title}}{{ end }}</h1>
    {{ partial "nav.html" . }}
  </header>
  <main id="main-content" class="container">
    {{ .Content }}
  </main>
</body>
</html>
