<!DOCTYPE html>
<html>
<head>
  <title>michaelkelly.org{% if page.title != "home" %}/{{page.title}}{% endif %}</title>
  <link rel="shortcut icon" href="assets/mjk-monogram-32-trans.png" />
  <link rel="canonical" href="https://www.michaelkelly.org" />
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" content="Personal page of Michael Kelly, a software engineer in New York, NY, USA.">
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20919137-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <h1 class="title">michaelkelly.org{% if page.title != "home" %}: {{page.title}}{% endif %}</h1>
  {% include nav.html %}
  <div class="container">
    {{ content }}
    <small>updated: {{site.time}}</small>
  </div>
</body>
</html>
